@import "../../styles/global"

.first-container
  position: relative
  height: 100vh
  display: flex
  justify-content: center
  align-items: center



.bg-image
  position: absolute
  height: 100vh
  width: auto
  z-index: -1

.msg
  background: rgba(255, 255, 255, 0.8)
  padding: 40px 8px
  text-align: center
  font-weight: bold

.container
  display: flex
  flex-direction: column
  justify-content: center
  padding: 32px 16px

h2
  font-size: 16px
  text-align: center
  line-height: 1.6

.btn
  margin-top: 16px