@import "global"
.index-main-color
  background-color: rgb(42 49 55 / .7)

.bg-img-container
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  right: 0
  height: 100vh
  @media #{$mq-small}
    background-color: $accent-color
  .bg-img-header
    width: 100%
    height: 100%
    filter: brightness(0.7)
    @media #{$mq-small}
      width: auto
  .welcome-message
    position: absolute
    top: 40%
    right: 10%
    display: flex
    flex-direction: column
    font-family: Futura, serif
    font-weight: bold
    font-size: 1.3rem
    text-align: left
    color: #fff !important
    line-height: 1.4
    border: white solid 2px
    padding: 1em
    background-color: rgb(1, 1, 1, .3)
    @media #{$mq-small}
      font-size: 2em
      left: 20%
      right: initial

    .highlight
      &:after
        content: ""
        position: absolute
        height: 5px
        width: 9ch
        background-color: yellow
        bottom: 0.6em
        left: 1em

.scroll
  color: white
  position: absolute
  bottom: 15vh
  left: calc(75% - 1em)
  transform: rotate(90deg)
  &:before
    content: ""
    position: absolute
    background: white
    width: 25vh
    height: 1px
    top: 100%
  &:after
    content: ""
    position: absolute
    background-color: white
    border-radius: 50%
    width: 8px
    height: 8px
    top: 88%
    animation: scroll 1.3s ease-in infinite

@keyframes scroll
  from
    left: 0%
  to
    left: 300%
.bg-img-menu
  position: absolute !important
  top: 0
  left: 0
  height: 100%
  z-index: -10
