@import "global"

//---------//
// GRID
//--------//

.container
  margin: $space-stack-s
  position: relative
  @media #{$mq-small}
    padding: $space-stack-s

  @media #{$mq-medium}
    padding: 1.6em  12%

  @media #{$mq-large}
    padding: 1.6em  16%

  @media #{$mq-x-large}
    padding: 1.6em  20%


//---------//
// original layout
//--------//

// section1
.section-1, .section-2
  @extend .container

.section-1
  grid-template-areas: "header header" "left right" "footer footer"
  padding: 32px 16px

// section body

.section-body
  grid-template-rows: 1fr 4fr 16px

.section-body-2
  grid-template-rows: 1fr 1fr

.section-body, .section-body-2
  position: relative
  display: grid
  grid-template-columns: repeat(4,1fr)

  .section-img
    grid-area: 1/2/4/5

  .section-article, .section-article-right
    background-color: #fffffcbd
    padding: $space-inset-default
    z-index: 1
    font-weight: bold

  .section-article
    grid-area: 2/1/3/4

  .section-img-left
    grid-area: 1/1/3/4

  .section-article-right
    grid-area: 2/2/2/5

.img-container
  margin: 64px 0
  //animation: slow-zoom 4s ease-in-out

@keyframes slow-zoom
  from
    transform: scale(1.2)
  to
    transform: scale(1)

.grid-header
  grid-area: header

.grid-left
  grid-area: left

.grid-right
  grid-area: right

.grid-footer
  grid-area: footer

.line
  width: 80%
  margin: auto
  height: 2px
  background-color: rgba(0, 0, 0, 1)
  margin-bottom: 54px

  @media #{$mq-medium}
    width: 50%

  @media #{$mq-medium}
    width: 40%

  @media #{$mq-large}
    width: 30%

footer
  display: flex !important
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 8px
  padding: 2em 0



//---------//
// GRID
//--------//

// container

.grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 1em

  @media #{$mq-x-small}
    grid-template-columns: repeat(6, 1fr)

  @media #{$mq-small}
    grid-template-columns: repeat(8, 1fr)

  @media #{$mq-large}
    grid-template-columns: repeat(12, 1fr)

.place-item-center
  display: grid
  place-items: center
  margin-top: 32px
  a
    color: white !important
    border: white solid 1px

// item

.grid-1-3
  grid-column: 1/3

.grid-1-4
  grid-column: 1/4

.grid-2-5
  grid-column: 2/5

.grid-3-5
  grid-column: 3/5

.grid-full
  grid-column: 1/5


//---------//
// FLEX
//--------//

// container

.flex-column
  display: flex
  flex-direction: column
  gap: 2em

.container-flex
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 1em
  margin: $space-stack-l

  .flex-item

    @media #{$mq-x-small}
      flex: 0 0 calc(50% - 1em)

    @media #{$mq-small}
      flex: 0 0 calc(100%/3 - 2em)

    @media #{$mq-medium}
      flex: 0 0 calc(50% - 1em)


// item

.align-self-end
  align-self: flex-end

.align-self-center
  align-self: center

.justify-self-end
  justify-self: flex-end

.justify-self-center
  justify-self: center



// Helper

.center-el
  display: grid
  place-items: center