/*----------------
///*typography
/*----------------

// Font import
@font-face
  font-family: 'Noto Sans'
  font-weight: normal
  src: url('./font/NotoSansJP-Regular.otf') format('OTF')

@font-face
  font-family: "Playfair Display"
  font-weight: normal
  src: url('./font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype')


$font-family-elegant: "Playfair Display", serif

a, button, p, li, label, input, h2
  text-decoration: none
  color: black
  font-family: $font-family-elegant

.txt-center
  text-align: center

.txt-bold
  font-weight: bold

.sub-p
  font-size: .8em

